<% require 'open-uri' %>
<% require 'nokogiri' %>
<% url = "https://techcrunch.com/" %>

    <% html_file = open(url).read %>
    <% html_doc = Nokogiri::HTML(html_file) %>

    <table>
      <tr><strong>Tech Crunch Featured Stories</strong></tr>
      <% html_doc.search('.mini-view').each do |element| %>
        <tr>
          <%= element %>
          <td><a href="<%= element.attribute('href').value %>"><%= element.children.text %></a></td>
        <br>
        </tr>
    </table>
  <% end  %>
